<h2 class="mb-3 d-flex align-items-center gap-2">
  <i class="fa fa-truck"></i> Editar Método de Envío
</h2>

<div class="row">
  <div class="col-lg-8">
    <%= render 'form', shipping_method: @shipping_method %>
  </div>
</div>
