<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="form-group card box-requirements border-danger">
    <h6 class="text-danger">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: devise_i18n_fix_model_name_case(resource.model_name.human, i18n_key: 'errors.messages.not_saved'))
       %>
    </h6>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><i class="fas fa-times text-danger"></i><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
