<div class="container">
  <h1>Admin Dashboard</h1>

  <div class="dashboard-cards">
    <div class="card">
      <h2>Products</h2>
      <%= link_to "Manage Products",  class: "btn btn-primary" %>
    </div>

    <div class="card">
      <h2>Purchase Orders</h2>
      <%= link_to "Manage Purchase Orders",  class: "btn btn-primary" %>
    </div>

    <div class="card">
      <h2>Sales Orders</h2>
      <%= link_to "Manage Sales Orders",  class: "btn btn-primary" %>
    </div>

    <div class="card">
      <h2>Inventory</h2>
      <%= link_to "View Inventory", class: "btn btn-primary" %>
    </div>
  </div>
</div>