<turbo-frame id="modal_frame">
  <dialog id="address_modal">
    <div class="modal-dialog">
  <div class="modal-content">
        <div class="modal-header position-relative">
          <h5 class="modal-title">Nueva dirección</h5>
          <div class="modal-close-container">
            <button type="button" class="custom-close" id="closeModal" aria-label="Close" title="Cerrar" role="button">&times;</button>
          </div>
        </div>
        <div class="modal-body" id="address-modal-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </dialog>
</turbo-frame>
