<div id="flash-messages">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible fade show container mt-3" role="alert">
      <i class="fas fa-check-circle"></i> <%= flash[:notice] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible fade show container mt-3" role="alert">
      <i class="fas fa-exclamation-circle"></i> <%= flash[:alert] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  <% end %>
</div>

<div id="unlocated-content">
  <%= render partial: "admin/inventory/unlocated_content" %>
</div>
