<turbo-frame id="modal_frame">
  <dialog id="new_payment_modal">
    <div class="modal-dialog">
  <div class="modal-content">
        <div class="modal-header position-relative">
          <h5 class="modal-title">Edit Payment</h5>
          <div class="modal-close-container">
            <button
              type="button"
              class="custom-close"
              id="closeModal"
              aria-label="Close"
              title="Cerrar"
              role="button">
              &times;
            </button>
          </div>
        </div>
        <div class="modal-body" id="payment-modal-body">
          <%= render "admin/payments/form", payment: @payment, sale_order: @sale_order %>
        </div>
      </div>
    </div>
  </dialog>
</turbo-frame>