<!-- Eliminación de item en carrito -->
<%= turbo_stream.replace "cart-count" do %>
  <span id="cart-count" class="badge bg-danger rounded-pill position-absolute top-0 start-100 translate-middle">
    <%= session[:cart]&.values&.sum || 0 %>
  </span>
<% end %>

<%= turbo_stream.replace "cart-preview" do %>
  <%= render 'customers/partials/cart_preview' %>
<% end %>
