<div class="text-center mt-5">
  <h1 class="display-4 text-success">🎉 ¡Gracias por tu compra!</h1>
  <p class="lead mt-3">Hemos recibido tu pedido y lo procesaremos pronto.</p>

  <%= link_to "Seguir comprando", products_path, class: "btn btn-outline-primary mt-4" %>
</div>
