<h1 class="h5 mb-3">Admin - Product Pipeline</h1>
<%= link_to "New Product", new_admin_product_path, class: "btn btn-primary mb-3" %>

<turbo-frame id="products_frame">
  <%= render partial: 'pipeline', locals: { products: @products, current_tab: 'active', counts: @counts } %>
  
</turbo-frame>