<h1 class="h5 mb-3">Admin - Users</h1>
<table class="table table-sm table-hover align-middle">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to admin_user_path(user), class: "small text-success", title: "View" do %>
            <i class="fa-solid fa-eye"></i>
            View
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>