<div class="container mt-3" id="flash">
  <% flash.each do |key, message| %>
    <div class="alert <%= bootstrap_class_for(key) %> alert-dismissible fade show flash-message" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>
