<a href="https://wa.me/<%= Rails.configuration.whatsapp_number %>?text=Hola%20me%20gustaría%20saber%20más%20sobre%20el%20inventario"
   aria-label="Contáctanos por WhatsApp"
   target="_blank"
   class="whatsapp-float-button">
  <i class="fab fa-whatsapp"></i>
</a>