<a href="https://wa.me/<%= Rails.configuration.whatsapp_number %>?text=Hola%20me%20gustaría%20saber%20más%20sobre%20el%20inventario"
  aria-label="Contáctanos por WhatsApp"
  target="_blank"
  rel="noopener noreferrer"
  class="whatsapp-float-button" data-whatsapp-button>
  <i class="fab fa-whatsapp" aria-hidden="true"></i>
  <span class="visually-hidden">Chatear por WhatsApp</span>
</a>